/**
 * Colors
 */

$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #777;
$gray-lighter: #fff;

$danger: #ff4d4d;
$danger-darker: #c63c3c;

$success: #49ac46;
$success-darker: #398737;

/**
 * Padding
 */
$padding-base-vertical: 6px;
$padding-base-horizontal: 12px;

$padding-large-vertical: 10px;
$padding-large-horizontal: 16px;

$padding-small-vertical: 5px;
$padding-small-horizontal: 10px;

$padding-xs-vertical: 1px;
$padding-xs-horizontal: 5px;

